*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}
 body{
    min-height: 100vh;
    max-width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    background: linear-gradient(145deg, #2a3445, #1b2433);    

 }

 .calculator{
    padding: 15px;
    border-radius: 25px;
    background: #1e2633;
    box-shadow: 18px 18px 35px rgba(0,0,0,0.6),
                -18px -18px -35px rgba(255,255,0.08);
}

.display input{
    width: 360px;
    border: nonw;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #ffff;
    font-size: 40px;
    text-align: right;
    cursor: pointer;

}

input::placeholder{
    color:#fff;

}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: #1e1e1e;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: 6px 6px 12px #0f0f0f,
                -6px -6px 12px #2d2d2d;
    outline: 1px solid #313131;
    outline-offset: 3px;

}
button:active{
    transform: #000;
    box-shadow:inset 6px 6px 12px #0f0f0f,
               inset -6px -6px 12px #2d2d2d;
}

.opr{
    color:#fbff00;
    background: #1e191e;
}
#eqBtn{
    background: orangered;
    font-weight: 900;
}